html{
    height: 100%;
    box-sizing: border-box  ;
}

body{
    background-color: grey;
    color: white    ;
    margin: 0;
}
button{
    background-color: aqua;
    border: none;
    padding: 30px;
}
header{
    background-color: dimgrey;
}
footer{
    background-color: dimgrey;
}
.some{
    text-align: center;
}
button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.big{
    font-size: 25px;
}
